/* Global Reset */
* {
    margin: 0;
    padding: 0;
}

/* Color Scheme */
:root {
    /*UW Scheme 
    --primary-bg-color: #4b2e84;
    --primary-font-color: white;
    --secondary-bg-color: #85754d;
    --secondary-font-color: white;
    --default-bg-color: white;
    --default-font-color: black;
    --whitespace-color: #e5e5e5; */

    /* Yellow Blue Grey Scheme */ 
    --primary-bg-color: #14213D;
    --primary-font-color: white;
    --secondary-bg-color: #FCA311;
    --secondary-font-color:black;
    --default-bg-color:white;
    --default-font-color:black; 
    --whitespace-color: #e5e5e5; 

    --link-color: blue;
    --title-font-size: 25px;
    --navbar-font-size: 16px;
    --default-font-size: 13px;
}


html { height: 100%; }

body {
    font-family: 'Lucida Grande', sans-serif;
    background-color:var(--whitespace-color);
    color:var(--default-font-color);
    font-size: var(--default-font-size);
    min-height: 100%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.container {
    /* dimensions */
    max-width: 950px;
    margin: auto;
}

.site { 
    /* borders */
    padding: 0;
    margin: auto;
    box-shadow: 0px 0px 15px grey;
    /* font display */
    text-align: left;
    line-height: 1.5em; 
}

/* Header */
.site .header {
    padding: 1.5em;
    background-color: var(--primary-bg-color);
    color: var(--primary-font-color);
}

.site .header .title {
    font-size: var(--title-font-size);
    font-weight: bold;
}

/* Navbar */
.site .navbar {
    width: 100%;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-font-color);
    overflow-x:auto;
    overflow:hidden;
    padding: 0.5em 0 0.5em 0;
}

.site .navbar .divider {
    padding-left: 1em;
}

.navbar .icon {
display:none;
}

.site .navbar a.extra {
    padding: 0.5em 1em 0.5em 1em;
    color: var(--secondary-font-color);
    font-size: var(--navbar-font-size);
}
  
.site .navbar a.active { 
    border-top-color: var(--secondary-bg-color);
    border-bottom-color: var(--secondary-bg-color);
    background-color: var(--primary-font-color);
    color: var(--primary-bg-color); 
}
 

.site .navbar a.extra:hover {
    background-color: var(--primary-font-color);
    color: var(--primary-bg-color); 
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 750px) {
  .navbar a:not(:nth-child(2)) { display: none; }
  .navbar a.icon {
    float: right;
    display: block;
  }
  .navbar .divider {
    display: none;  
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 750px) {
  .navbar.responsive { position: relative; }
    
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
    
  .navbar .divider {
    display: block;
  }
}


/* Content */
.site .content {
    font-size: var(--default-font-size);
    padding: 4em 3em 4em 3em;
    background-color: var(--default-bg-color);
    color: var(--default-font-color);
}

/* Footer */
.footer {
    font-size: var(--default-font-size);
    margin-top: 1em;
    text-align: center;
    margin: auto;
}
