/* Global Reset */
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: LucidaGrande;
    src:url(LucidaGrande.ttf);
    font-weight: normal;
}

@font-face {
font-family: 'Apercu Regular';
font-style: normal;
font-weight: normal;
src: local('Apercu Regular'), url('Apercu_Regular.woff') format('woff');
}


@font-face {
font-family: 'Apercu Italic';
font-style: normal;
font-weight: normal;
src: local('Apercu Italic'), url('Apercu Italic.woff') format('woff');
}


@font-face {
font-family: 'Apercu Light';
font-style: normal;
font-weight: normal;
src: local('Apercu Light'), url('Apercu Light.woff') format('woff');
}


@font-face {
font-family: 'Apercu Light Italic';
font-style: normal;
font-weight: normal;
src: local('Apercu Light Italic'), url('Apercu Light Italic.woff') format('woff');
}


@font-face {
font-family: 'Apercu Medium';
font-style: normal;
font-weight: normal;
src: local('Apercu Medium'), url('Apercu Medium.woff') format('woff');
}


@font-face {
font-family: 'Apercu Medium Italic';
font-style: normal;
font-weight: normal;
src: local('Apercu Medium Italic'), url('Apercu Medium Italic.woff') format('woff');
}


@font-face {
font-family: 'Apercu Bold';
font-style: normal;
font-weight: normal;
src: local('Apercu Bold'), url('Apercu Bold.woff') format('woff');
}


@font-face {
font-family: 'Apercu Bold Italic';
font-style: normal;
font-weight: normal;
src: local('Apercu Bold Italic'), url('Apercu Bold Italic.woff') format('woff');
}


@font-face {
font-family: 'Apercu Mono Regular';
font-style: normal;
font-weight: normal;
src: local('Apercu Mono Regular'), url('Apercu Mono.woff') format('woff');
}


@font-face {
font-family: 'Freight Sans Medium';
font-style: normal;
font-weight: normal;
src: local('Freight Sans Medium'), url('Freight Sans Medium.otf') format('opentype');
}

@font-face {
font-family: 'Freight Sans Light';
font-style: normal;
font-weight: normal;
src: local('Freight Sans Light'), url('Freight Sans Light.otf') format('opentype');
}


@font-face {
font-family: 'Freight Sans Light Italic';
font-style: normal;
font-weight: normal;
src: local('Freight Sans Light Italic'), url('Freight Sans Light Italic.otf') format('opentype');
}

@font-face {
font-family: 'Freight Sans Medium Italic';
font-style: normal;
font-weight: normal;
src: local('Freight Sans Medium Italic'), url('Freight Sans Medium Italic.otf') format('opentype');
}


@font-face {
font-family: 'Freight Sans Bold';
font-style: normal;
font-weight: normal;
src: local('Freight Sans Bold'), url('Freight Sans Bold.otf') format('opentype');
}

@font-face {
font-family: 'Freight Sans Semibold';
font-style: normal;
font-weight: normal;
src: local('Freight Sans Semibold'), url('Freight Sans Semibold.otf') format('opentype');
}

@font-face {
font-family: 'Freight Sans Book';
font-style: normal;
font-weight: normal;
src: local('Freight Sans Book'), url('Freight Sans Book.otf') format('opentype');
}

/* Color Scheme */
:root {
    /*UW Scheme 
    --primary-bg-color: #4b2e84;
    --primary-font-color: white;
    --secondary-bg-color: #b8860b;
    --secondary-font-color: white;
    --default-bg-color: white;
    --default-font-color: black;
    --whitespace-color: #e5e5e5; */

    /* Yellow Blue Grey Scheme */
    --primary-bg-color: #14213D;
    --primary-font-color: white;
    --secondary-bg-color: #FCA311;
    --secondary-font-color:black;
    --default-bg-color:white;
    --default-font-color:black; 
    --whitespace-color: #e5e5e5; 

    --link-color: blue;
    --title-font-size: 25px;
    --navbar-font-size: 18px;
    --default-font-size: 14px;
}


html { height: 100%; }

body {
    font-family: 'Lora', serif;
    background-color:var(--whitespace-color);
    color:var(--default-font-color);
    font-size: var(--default-font-size);
    min-height: 100%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.container {
    /* dimensions */
    max-width: 950px;
    margin: auto;
}

.site { 
    /* borders */
    padding: 0;
    margin: auto;
    box-shadow: 0px 0px 15px grey;
    /* font display */
    text-align: left;
    line-height: 1.5em; 
}

/* Header */
.site .header {
    padding: 1.5em;
    background-color: var(--primary-bg-color);
    color: var(--primary-font-color);
}

.site .header .title {
    font-size: var(--title-font-size);
    font-weight: bold;
}

/* Navbar */
.navbar {
    font-family: 'Helvetica Neue', sans-serif; 
    width: 100%;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-font-color);
    overflow-x:auto;
    overflow:hidden;
    margin:0;
    padding: 0.5em 0 0.5em 0;
}
.navbar li {
    padding: 0.5em;
    display:inline;
}

.navbar li a.icon {
    display:none;
}

.navbar li a.extra {
    padding: 1em 1em 1em 1em;
    color: var(--secondary-font-color);
    font-size: var(--navbar-font-size);
}
  
.navbar li a.active { 
    border-top-color: var(--secondary-bg-color);
    border-bottom-color: var(--secondary-bg-color);
    background-color: var(--primary-font-color);
    color: var(--primary-bg-color); 
}
 

.navbar li a.extra:hover {
    background-color: var(--primary-font-color);
    color: var(--primary-bg-color); 
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 750px) {
  .navbar li a { display: none; }
    
  .navbar li a.icon {
    float: right;
    display: block;
  }
    
  .site .content .banner {
      clear: both;
      text-align: center;
  }
  .site .content .banner .photo {
      clear: both;
      float: none;      
      margin-left: auto;
      margin-right: auto;
      text-align: center;
  }
  .site .content .banner .contact {
      display: block;
      clear: both;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 750px) {
   #myNavbar { padding: 0; }
    
  .navbar.responsive { position: relative; }
    
  .navbar.responsive li a.icon {
      display: none;
  }

  .navbar.responsive li a {
    float: none;
    display: block;
    text-align: left;
    padding: 0.5em 1em 0.5em 1em;
  }

  .navbar.responsive li {
      padding: 0em;
  }
    
  .edit-link {
    float:none;
    padding-top: 0.5em;
    display: block;
  }
}


/* Content */
.site .content {
    font-size: var(--default-font-size);
    padding: 4em 3em 4em 3em;
    background-color: var(--default-bg-color);
    color: var(--default-font-color);
}

/* Footer */
.footer {
    font-size: var(--default-font-size);
    margin-top: 1em;
    text-align: center;
    margin: auto;
}


.post .title {
    font-size: 18px;
    font-weight: bold;
    margin-top:10px;
    margin-bottom:5px;
}

.post .date {
    font-family: Lora, serif;
    font-size: var(--default-font-size);
    margin-top:5px;
    margin-bottom:10px;
}

.post .text {
    padding-top:5px;
}
