<div class="header">
  <svg xmlns:xl="http://www.w3.org/1999/xlink" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 300 101" width="300" height="101">
    <defs>
      <style type='text/css'>
@font-face {
  font-family: 'Raph Lanok Future';
  font-style: normal;
  font-weight: normal;
  src: local('Raph Lanok Future'), url('Raph Lanok Future.otf') format('opentype');
  }
      </style>
    </defs>
    <metadata> Produced by OmniGraffle 7.11.2 
      <dc:date>2019-09-07 00:19:13 +0000</dc:date>
    </metadata>
    <g id="Canvas_1" stroke="none" stroke-opacity="1" stroke-dasharray="none" fill-opacity="1" fill="none">
      <title>Canvas 1</title>
      <rect fill="white" x="0" y="0" width="300" height="101"/>
      <g id="Canvas_1: Layer 1">
        <title>Layer 1</title>
        <g id="Graphic_4">
          <text transform="translate(1 7)" fill="black">
            <tspan font-family="Raph Lanok Future" font-size="48" font-weight="400" fill="black" x="18.148" y="57">Guna Prasaad</tspan>
          </text>
        </g>
      </g>
    </g>
  </svg>
</div>
<ul class="navbar" id="myNavbar">
  <li> <a {% if page.url == '' %} class="extra active" {% else %} class = "extra" {% endif %} href="{{ site.url }}">home</a> </li>
  <li> <a {% if page.url == 'research' %} class="extra active" {% else %} class = "extra" {% endif %} href="{{ site.url }}research">research</a> </li>
  <li> <a {% if page.url == 'publications' %} class="extra active" {% else %} class = "extra" {% endif %} href="{{ site.url }}publications">publications</a> </li>
  <li> <a {% if page.url == 'news' %} class="extra active" {% else %} class = "extra" {% endif %} href="{{ site.url }}news">news</a> </li>
  <li> <a {% if page.url == 'blog' or page.url contains '/posts/' %} class="extra active" {% else %} class = "extra" {% endif %} href="{{ site.url }}blog">blog</a> </li>
  <li> <a class="extra" href="http://github.com/gunaprsd">code</a> </li>
  <li> <a class="extra" href="{{site.url}}assets/resume.pdf">resume</a> </li>
  <li> <a href="javascript:void(0);" class="extra icon" onclick="myFunction()">≡</a> </li>
</ul>
