<div class="header">
  <svg xmlns:xl="http://www.w3.org/1999/xlink" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 360 130" width="360" height="130">
    <defs>
      <font-face font-family="Raph Lanok Future" font-size="64" units-per-em="1000" underline-position="-75" underline-thickness="50" slope="0" x-height="671" cap-height="991" ascent="1186.0024" descent="-606.0012" font-weight="400">
        <font-face-src>
          <font-face-name name="RaphLanokFuture"/>
        </font-face-src>
      </font-face>
    </defs>
    <metadata> Produced by OmniGraffle 7.11.2 
      <dc:date>2019-09-07 00:14:59 +0000</dc:date>
    </metadata>
    <g id="Canvas_1" stroke="none" stroke-opacity="1" stroke-dasharray="none" fill-opacity="1" fill="none">
      <title>Canvas 1</title>
      <rect fill="white" x="0" y="0" width="360" height="130"/>
      <g id="Canvas_1: Layer 1">
        <title>Layer 1</title>
        <g id="Graphic_4">
          <text transform="translate(-3 7)" fill="black">
            <tspan font-family="Raph Lanok Future" font-size="48" font-weight="400" fill="black" x="7.364" y="76">Guna Prasaad</tspan>
          </text>
        </g>
      </g>
    </g>
  </svg>
</div>
<ul class="navbar" id="myNavbar">
  <li> <a {% if page.url == '' %} class="extra active" {% else %} class = "extra" {% endif %} href="{{ site.url }}">home</a> </li>
  <li> <a {% if page.url == 'research' %} class="extra active" {% else %} class = "extra" {% endif %} href="{{ site.url }}research">research</a> </li>
  <li> <a {% if page.url == 'publications' %} class="extra active" {% else %} class = "extra" {% endif %} href="{{ site.url }}publications">publications</a> </li>
  <li> <a {% if page.url == 'news' %} class="extra active" {% else %} class = "extra" {% endif %} href="{{ site.url }}news">news</a> </li>
  <li> <a {% if page.url == 'blog' or page.url contains '/posts/' %} class="extra active" {% else %} class = "extra" {% endif %} href="{{ site.url }}blog">blog</a> </li>
  <li> <a class="extra" href="http://github.com/gunaprsd">code</a> </li>
  <li> <a class="extra" href="{{site.url}}assets/resume.pdf">resume</a> </li>
  <li> <a href="javascript:void(0);" class="extra icon" onclick="myFunction()">≡</a> </li>
</ul>
